In [1]:
import pandas as pd
data=pd.read_csv("f_h_1.csv",encoding='CP949')
data.head

FileNotFoundError: [Errno 2] No such file or directory: 'f_h_1.csv'

In [ ]:
list(data['S_type'][6:12])
temp=list(['기혼', '유아자녀', '초등학생자녀', '중고생자녀', '대학생자녀', '전업주부'])

In [3]:
from pyecharts import options as opts
from pyecharts.charts import Bar
from pyecharts.globals import ThemeType

c = (
    Bar({"theme": ThemeType.WONDERLAND})#{"theme": ThemeType.MACARONS}
    .add_xaxis(list(data['S_type'][0:6]))
    .add_yaxis("A", list(data['Score'][0:6]))
    .add_yaxis("B", list(data['Score'][6:12]))
    #.add("2019",list(data['S_type'][0:6]),list(data['Score'][0:6]),mark_line=["average"],mark_point=["max","min"])
    #.add("2019",list(data['S_type'][0:6]),list(data['Score'][0:6]),mark_line=["average"],mark_point=["max","min"])
    .set_global_opts(title_opts=opts.TitleOpts(title="Bar-MarkPoint"),
                    datazoom_opts=opts.DataZoomOpts(type_="inside"),)
    .set_series_opts(
        label_opts=opts.LabelOpts(is_show=True),#bar 위에 수치 표시
        markpoint_opts=opts.MarkPointOpts(
            data=[
                opts.MarkPointItem(type_="max", name="max"),
                opts.MarkPointItem(type_="min", name="min"),
            ]
        ),
    )
    .render("bar_markpoint_type.html")
)

C:\Users\yurik\anaconda3\lib\site-packages\pyecharts\charts\chart.py:14: PendingDeprecationWarning: pyecharts 所有图表类型将在 v1.9.0 版本开始强制使用 ChartItem 进行数据项配置 :)
  super().__init__(init_opts=init_opts)

In [50]:
from pyecharts import options as opts
from pyecharts.charts import Pie

c = (
    Pie({"theme": ThemeType.CHALK})
    .add(
        "",
        [list(z) for z in zip(temp,list(data['Score'][0:6]))],
        radius=["30%", "61%"],
        center=["28%", "50%"],
        rosetype="radius",
    )
    .add(
        "",
        [list(z) for z in zip(temp,list(data['Score'][6:12]))],
        radius=["30%", "61%"],
        center=["72%", "50%"],
        rosetype="area",
    )
    .set_global_opts(title_opts=opts.TitleOpts(title="Pie-charts"),
                    legend_opts=opts.LegendOpts(type_="scroll", pos_left="100%", orient="vertical"),)
    #.set_colors(["blue", "green", "yellow", "red", "pink", "orange", "purple"])
    .render("pie_rosetype.html")
)

c

C:\Users\yurik\anaconda3\lib\site-packages\pyecharts\charts\chart.py:14: PendingDeprecationWarning: pyecharts 所有图表类型将在 v1.9.0 版本开始强制使用 ChartItem 进行数据项配置 :)
  super().__init__(init_opts=init_opts)

'C:\\Users\\yurik\\juptyer\\삼성\\pie_rosetype.html'

In [3]:
import pandas as pd
data=pd.read_csv("data.csv",encoding='CP949')
data.head

<bound method NDFrame.head of             YM Category  성별구분 연령대 기혼스코어 유아자녀스코어 초등학생자녀스코어 중고생자녀스코어 대학생자녀스코어  \
0       202005      할인점     0   F  high     low      high      mid      low
1       202005       취미     0   B  high     low       mid      mid      low
2       202005  오픈마켓/소셜     1   D   mid     mid       mid      mid      low
3       202005       뷰티     0   D   mid     mid       mid      mid      low
4       202005  오픈마켓/소셜     0   G  high     low       mid      mid      mid
...        ...      ...   ...  ..   ...     ...       ...      ...      ...
452033  201904      전문몰     0   E   low     mid       low      low      low
452034  201904      할인점     0   H  high     low       low      low      low
452035  201904      할인점     1   H  high     low       low      low      low
452036  201904      할인점     0   H  high     low       low      low      low
452037  201904      할인점     1   B  high     low       mid      mid      low

       전업주부스코어
0          low
1          low
2          mid
3          low
4          low
...        ...
452033     low
452034     low
452035     low
452036     low
452037     mid

[452038 rows x 10 columns]>

In [7]:
print(data.groupby('YM')['Category'].value_counts())

YM      Category
201904  전문몰         30911
        할인점         26721
        디저트         22918
        오픈마켓/소셜     18766
        뷰티           5734
        취미           5469
        종합몰          4189
        호텔/숙박        2332
        항공/여행사       2132
        면세점           947
201905  전문몰         31655
        할인점         25216
        디저트         23820
        오픈마켓/소셜     19343
        뷰티           6130
        취미           5507
        종합몰          4175
        호텔/숙박        2514
        항공/여행사       2165
        면세점           926
202004  전문몰         31139
        오픈마켓/소셜     20909
        디저트         20259
        할인점         15756
        종합몰          4073
        뷰티           3978
        취미           3341
        호텔/숙박        1274
        항공/여행사        589
        면세점            56
202005  전문몰         32357
        디저트         22746
        오픈마켓/소셜     21724
        할인점         16943
        뷰티           4611
        취미           4132
        종합몰          3682
        호텔/숙박        1885
        항공/여행사        875
        면세점           139
Name: Category, dtype: int64

In [8]:
print(data['Category'].value_counts())

전문몰        126062
디저트         89743
할인점         84636
오픈마켓/소셜     80742
뷰티          20453
취미          18449
종합몰         16119
호텔/숙박        8005
항공/여행사       5761
면세점          2068
Name: Category, dtype: int64

In [9]:
print(data['성별구분'].value_counts())

1    240336
0    211702
Name: 성별구분, dtype: int64

In [10]:
print(data['연령대'].value_counts())

D    76172
A    71640
F    70151
C    56270
E    54574
G    51095
H    37111
B    35025
Name: 연령대, dtype: int64

In [11]:
print(data['YM'].value_counts())

201905    121451
201904    120119
202005    109094
202004    101374
Name: YM, dtype: int64

In [2]:
import pandas as pd
data=pd.read_csv("f_j_1.csv",encoding='CP949')
data.head

<bound method NDFrame.head of     Year     S_type  Score
0   2019      기혼스코어   7326
1   2019    유아자녀스코어   3140
2   2019  초등학생자녀스코어   5468
3   2019   중고생자녀스코어   5264
4   2019   대학생자녀스코어   3692
5   2019    전업주부스코어   4993
6   2020      기혼스코어   8130
7   2020    유아자녀스코어   3461
8   2020  초등학생자녀스코어   4962
9   2020   중고생자녀스코어   5814
10  2020   대학생자녀스코어   4149
11  2020    전업주부스코어   5516>

In [25]:
from pyecharts import options as opts
from pyecharts.charts import Bar
from pyecharts.globals import ThemeType

c = (
    Bar({"theme": ThemeType.MACARONS})#{"theme": ThemeType.MACARONS}
    .add_xaxis(list(data['S_type'][0:6]))#초중고스코어
    .add_yaxis("2019", list(data['Score'][0:6]))#19년도
    .add_yaxis("2020", list(data['Score'][6:12]))#20년도
    .set_global_opts(title_opts=opts.TitleOpts(title="Bar-MarkPoint"),
                    datazoom_opts=[opts.DataZoomOpts(), opts.DataZoomOpts(type_="inside")],)
    .set_series_opts(
        label_opts=opts.LabelOpts(is_show=True),#bar 위에 수치 표시
        markpoint_opts=opts.MarkPointOpts(
            data=[
                opts.MarkPointItem(type_="max", name="max"),
                opts.MarkPointItem(type_="min", name="min"),
            ]
        ),
    )
    .render("temp.html")
)

C:\Users\yurik\anaconda3\lib\site-packages\pyecharts\charts\chart.py:14: PendingDeprecationWarning: pyecharts 所有图表类型将在 v1.9.0 版本开始强制使用 ChartItem 进行数据项配置 :)
  super().__init__(init_opts=init_opts)

In [ ]:
from pyecharts import options as opts
from pyecharts.charts import Bar
from pyecharts.globals import ThemeType

c = (
    Bar({"theme": ThemeType.CHALK})#{"theme": ThemeType.MACARONS}
    .add_xaxis(list(data['S_type'][0:6]))#초중고스코어
    .add_yaxis("2019", list(data['Score'][0:6]))#19년도
    .add_yaxis("2020", list(data['Score'][6:12]))#20년도
    .set_global_opts(title_opts=opts.TitleOpts(title="Bar-MarkPoint"),
                    datazoom_opts=[opts.DataZoomOpts(), opts.DataZoomOpts(type_="inside")],)
    .set_series_opts(
        label_opts=opts.LabelOpts(is_show=True),#bar 위에 수치 표시
        markpoint_opts=opts.MarkPointOpts(
            data=[
                opts.MarkPointItem(type_="max", name="max"),
                opts.MarkPointItem(type_="min", name="min"),
            ]
        ),
    )
    .render("temp.html")
)

In [8]:
import pandas as pd
from pyecharts import options as opts
from pyecharts.charts import Bar
from pyecharts.globals import ThemeType

In [11]:
data19=pd.read_csv("data19_only.csv",encoding='CP949')

In [12]:
data19=data19.drop(columns=["기혼스코어","유아자녀스코어","초등학생자녀스코어","중고생자녀스코어","대학생자녀스코어"])
data19.head()

       YM Category  성별구분 연령대  전업주부스코어
0  201905      할인점     1   F        2
1  201905      할인점     1   G        2
2  201905      할인점     0   C        1
3  201905      할인점     1   D        2
4  201905      할인점     1   F        3

In [21]:
data19.groupby(['Category','성별구분','연령대'])['전업주부스코어'].sum()

Category  성별구분  연령대
종합몰       0     A       552
                B        90
                C       395
                D       663
                E       215
                F       398
                G       184
                H       114
          1     A      2258
                B       450
                C      2037
                D      2924
                E      1539
                F      1502
                G       783
                H       289
할인점       0     A      3940
                B      2438
                C      2298
                D      3901
                E      1468
                F      4058
                G      2970
                H      3475
          1     A      8530
                B      6120
                C      5426
                D      8794
                E      4043
                F      8890
                G      7309
                H      7915
Name: 전업주부스코어, dtype: int64

In [22]:
data20=pd.read_csv("data20_only.csv",encoding='CP949')

In [23]:
data20=data20.drop(columns=["기혼스코어","유아자녀스코어","초등학생자녀스코어","중고생자녀스코어","대학생자녀스코어"])
data20.head()

       YM Category  성별구분 연령대  전업주부스코어
0  202005      할인점     0   F        1
1  202005      할인점     1   B        2
2  202005      할인점     0   F        1
3  202005      할인점     0   F        1
4  202005      할인점     1   A        2

In [24]:
data20.groupby(['Category','성별구분','연령대'])['전업주부스코어'].sum()

Category  성별구분  연령대
종합몰       0     A       571
                B       107
                C       264
                D       526
                E       121
                F       419
                G       228
                H       113
          1     A      2372
                B       482
                C      1661
                D      2646
                E       863
                F      1749
                G       913
                H       357
할인점       0     A      2526
                B      1561
                C      1413
                D      2302
                E       948
                F      2678
                G      2080
                H      2294
          1     A      5117
                B      3613
                C      3402
                D      4727
                E      2426
                F      5481
                G      4639
                H      5260
Name: 전업주부스코어, dtype: int64

In [3]:
#abfg: 1, cd: 2, eh: 3
j_19=dict()
j_20=dict()
h_19=dict()
h_20=dict()

In [4]:
j_19["m1"]=1224
j_19["m2"]=1058
j_19["m3"]=329
j_19["f1"]=4993
j_19["f2"]=4961
j_19["f3"]=1828

In [5]:
j_20["m1"]=1325
j_20["m2"]=790
j_20["m3"]=234
j_20["f1"]=5516
j_20["f2"]=4307
j_20["f3"]=1220

In [6]:
h_19["m1"]=13406
h_19["m2"]=6199
h_19["m3"]=4943
h_19["f1"]=30849
h_19["f2"]=14220
h_19["f3"]=11958

In [7]:
h_20["m1"]=8845
h_20["m2"]=3715
h_20["m3"]=3242
h_20["f1"]=18850 #할인점은 여자가 2019년에 비해 2020년 급격히 줄었다
h_20["f2"]=8129
h_20["f3"]=7686

In [8]:
name_temp=["1st Male","2nd Male","3rd Male","1st Female","2nd Female","3rd Female"]
new_temp=["1st Female","2nd Female","3rd Female","1st Male","2nd Male","3rd Male"]

In [137]:
"""
표를 이렇게 만들어도 되는가?
단순히 수치로?
비율로 따져야하나?

전업주부 말고도 전체적인 스코어를 보고
총점이 같아야지만 수치로 해야 의미가 있다

그리고 내가 제대로 잘 만들었는지 체크해야 한다

비율로 표시하는 게 더 좋을 것 같다
"""

'\n표를 이렇게 만들어도 되는가?\n단순히 수치로?\n비율로 따져야하나?\n\n전업주부 말고도 전체적인 스코어를 보고\n총점이 같아야지만 수치로 해야 의미가 있다\n\n그리고 내가 제대로 잘 만들었는지 체크해야 한다\n\n비율로 표시하는 게 더 좋을 것 같다\n'

In [9]:
from pyecharts import options as opts
from pyecharts.charts import Pie
from pyecharts.globals import ThemeType

c = (
    Pie(opts.InitOpts(width = '1200px',height = '650px',theme=ThemeType.INFOGRAPHIC))
    .add(
        "2019",
        [list(z) for z in zip(name_temp,list(j_19.values()))],
        radius=["27%", "61%"],
        center=["27%", "50%"],
        rosetype="radius",
    )
    .add(
        "2020",
        [list(z) for z in zip(name_temp,list(j_20.values()))],
        radius=["30%", "61%"],
        center=["73%", "50%"],
        rosetype="radius",
    )
    .set_global_opts(title_opts=opts.TitleOpts(title="종합몰 전업주부스코어"),
                    legend_opts=opts.LegendOpts(type_="scroll", pos_left="45%"),)
    .set_series_opts(label_opts=opts.LabelOpts(formatter="{b}: {c}"))
    #.set_colors(["blue", "green", "yellow", "red", "pink", "orange", "purple"])
    .render("jonghapmol.html")
)

c

C:\Users\yurik\anaconda3\lib\site-packages\pyecharts\charts\chart.py:14: PendingDeprecationWarning: pyecharts 所有图表类型将在 v1.9.0 版本开始强制使用 ChartItem 进行数据项配置 :)
  super().__init__(init_opts=init_opts)

'C:\\Users\\yurik\\juptyer\\삼성\\jonghapmol.html'

In [10]:
list(j_19.values())

[1224, 1058, 329, 4993, 4961, 1828]

In [11]:
from pyecharts import options as opts
from pyecharts.charts import Pie

c = (
    Pie(opts.InitOpts(width = '1200px',height = '650px',theme=ThemeType.LIGHT))
    .add(
        "2019",
        [list(z) for z in zip(name_temp,list(h_19.values()))],
        radius=["30%", "61%"],
        center=["28%", "50%"],
        rosetype="radius",
    )
    .add(
        "2020",
        [list(z) for z in zip(name_temp,list(h_20.values()))],
        radius=["30%", "61%"],
        center=["75%", "52%"],
        rosetype="radius",
    )
    .set_global_opts(title_opts=opts.TitleOpts(title="할인점 전업주부스코어"),
                    legend_opts=opts.LegendOpts(type_="scroll", pos_left="45%")
                    )
    .set_series_opts(label_opts=opts.LabelOpts(formatter="{b}: {c}"))
    #.set_colors(["blue", "green", "yellow", "red", "pink", "orange", "purple"])
    .render("halinmol.html")
)

c

C:\Users\yurik\anaconda3\lib\site-packages\pyecharts\charts\chart.py:14: PendingDeprecationWarning: pyecharts 所有图表类型将在 v1.9.0 版本开始强制使用 ChartItem 进行数据项配置 :)
  super().__init__(init_opts=init_opts)

'C:\\Users\\yurik\\juptyer\\삼성\\halinmol.html'

In [1]:
import pandas as pd
data19=pd.read_csv("data_2019.csv",encoding='CP949')
data20=pd.read_csv("data_2020.csv",encoding='CP949')

In [8]:
print(data19.groupby('Category')['성별구분'].value_counts())

Category  성별구분
디저트       1       25016
          0       21722
면세점       0        1008
          1         865
뷰티        1        7974
          0        3890
오픈마켓/소셜   1       21244
          0       16865
전문몰       1       32725
          0       29841
종합몰       1        5753
          0        2611
취미        0        6753
          1        4223
할인점       1       27389
          0       24548
항공/여행사    0        2293
          1        2004
호텔/숙박     0        3252
          1        1594
Name: 성별구분, dtype: int64

In [12]:
print(data20.groupby('Category')['성별구분'].value_counts())

Category  성별구분
디저트       1       22411
          0       20594
면세점       1         108
          0          87
뷰티        1        5521
          0        3068
오픈마켓/소셜   1       24018
          0       18615
전문몰       1       33006
          0       30490
종합몰       1        5406
          0        2349
취미        0        4853
          1        2620
할인점       1       16897
          0       15802
항공/여행사    0         872
          1         592
호텔/숙박     0        2189
          1         970
Name: 성별구분, dtype: int64

In [49]:
data20['Category'].value_counts()+data19['Category'].value_counts()

디저트         89743
면세점          2068
뷰티          20453
오픈마켓/소셜     80742
전문몰        126062
종합몰         16119
취미          18449
할인점         84636
항공/여행사       5761
호텔/숙박        8005
Name: Category, dtype: int64

In [37]:
count=(data20['Category'].value_counts()+data19['Category'].value_counts()).values

In [44]:
mf=(data19.groupby('Category')['성별구분'].value_counts()+data20.groupby('Category')['성별구분'].value_counts()).values

In [67]:
ratio=[]
index=0
for i in range(0,len(mf),2):
    ratio.append(mf[i]/count[index])
    index=index+1

In [68]:
ratio

[0.4715242414450152,
 0.5294970986460348,
 0.34019459248032075,
 0.4394243392534245,
 0.47858196760324284,
 0.3077113964886159,
 0.6290855872947043,
 0.4767474833404225,
 0.549383787536886,
 0.6797001873828857]

In [70]:
data19['성별구분'].value_counts()+data20['성별구분'].value_counts()

1    240336
0    211702
Name: 성별구분, dtype: int64

In [84]:
from pyecharts import options as opts
from pyecharts.charts import Liquid
from pyecharts.globals import SymbolType
from pyecharts.globals import ThemeType


c = (
    Liquid(opts.InitOpts(theme=ThemeType.MACARONS))
    .add("lq", [0.5316721160610391,0.4683278839389609], is_outline_show=False, shape=SymbolType.DIAMOND)
    .set_global_opts(title_opts=opts.TitleOpts(title="Liquid-Shape-Diamond"))
    .set_colors(["blue", "green", "yellow", "red", "pink", "orange", "purple"])
    .render("liquid_shape_diamond.html")
)
c

C:\Users\yurik\anaconda3\lib\site-packages\pyecharts\charts\chart.py:14: PendingDeprecationWarning: pyecharts 所有图表类型将在 v1.9.0 版本开始强制使用 ChartItem 进行数据项配置 :)
  super().__init__(init_opts=init_opts)

'C:\\Users\\yurik\\juptyer\\삼성\\liquid_shape_diamond.html'

In [76]:
211702/(240336+211702)

0.4683278839389609

In [86]:
data20['연령대'].value_counts()+data19['연령대'].value_counts()

A    71640
B    35025
C    56270
D    76172
E    54574
F    70151
G    51095
H    37111
Name: 연령대, dtype: int64

In [29]:
data20.groupby('성별구분')['연령대'].value_counts()+data19.groupby('성별구분')['연령대'].value_counts()

성별구분  연령대
0     A      34711
      B      16654
      C      25696
      D      36551
      E      21914
      F      33691
      G      24137
      H      18348
1     A      36929
      B      18371
      C      30574
      D      39621
      E      32660
      F      36460
      G      26958
      H      18763
Name: 연령대, dtype: int64

In [32]:
ind=['A','B','C','D','E','F','G','H']
data=dict()
for index in ind:
    temp=(data20.groupby('성별구분')['연령대'].value_counts()+data19.groupby('성별구분')['연령대'].value_counts())
    men_ratio=temp[0,index]/(temp[0,index]+temp[1,index])
    data[index]=men_ratio

In [34]:
data

{'A': 0.48451982132886656,
 'B': 0.4754889364739472,
 'C': 0.4566554114092767,
 'D': 0.47984823819776296,
 'E': 0.4015465239857808,
 'F': 0.48026400193867513,
 'G': 0.4723945591545161,
 'H': 0.4944086658942093}

In [2]:
len(data19)

241570

In [3]:
len(data20)

210468

In [12]:
data19.head()

,YM,Category,성별구분,연령대,기혼스코어,유아자녀스코어,초등학생자녀스코어,중고생자녀스코어,대학생자녀스코어,전업주부스코어
0,201905,전문몰,1,E,1,1,1,1,1,2
1,201905,전문몰,1,E,2,2,1,1,1,2
2,201905,할인점,1,F,3,1,2,2,2,2
3,201905,전문몰,0,G,3,1,2,2,2,1
4,201905,전문몰,1,H,3,1,1,1,2,2

In [18]:
ind=['기혼스코어','유아자녀스코어','초등학생자녀스코어','중고생자녀스코어','대학생자녀스코어','전업주부스코어']

In [19]:
df19 = pd.DataFrame(data19,columns=ind)
df20 = pd.DataFrame(data20,columns=ind)

In [20]:
df19.sum(axis=0)+df20.sum(axis=0)

기혼스코어        1187580
유아자녀스코어       700927
초등학생자녀스코어     849046
중고생자녀스코어      785555
대학생자녀스코어      559113
전업주부스코어       695979
dtype: int64

In [24]:
data=dict()
for index in ind:
    temp=(data20.groupby('성별구분')[index].value_counts()+data19.groupby('성별구분')[index].value_counts())
    try:
        men_ratio=temp[0,3]/(temp[0,3]+temp[1,3])
    except:
        men_ratio=0/(0+temp[1,3])
    data[index]=men_ratio

In [25]:
data

{'기혼스코어': 0.4773518165349091,
 '유아자녀스코어': 0.26090990423804633,
 '초등학생자녀스코어': 0.4730501539629645,
 '중고생자녀스코어': 0.4579644608623655,
 '대학생자녀스코어': 0.18926777689664287,
 '전업주부스코어': 0.0}