In [1]:
import pandas as pd
data19=pd.read_csv("data_2019.csv",encoding='CP949')

In [2]:
import numpy as np
data19['연령대'] = np.where((data19['연령대']=='A') | (data19['연령대']=='H') , 1, data19['연령대'])
data19['연령대'] = np.where((data19['연령대']=='B') | (data19['연령대']=='F') | (data19['연령대']=='G') , 2, data19['연령대'])
data19['연령대'] = np.where((data19['연령대']=='C') | (data19['연령대']=='D') | (data19['연령대']=='E') , 3, data19['연령대'])

In [3]:
data19.head(10)

,YM,Category,성별구분,연령대,기혼스코어,유아자녀스코어,초등학생자녀스코어,중고생자녀스코어,대학생자녀스코어,전업주부스코어
0,201905,전문몰,1,3,1,1,1,1,1,2
1,201905,전문몰,1,3,2,2,1,1,1,2
2,201905,할인점,1,2,3,1,2,2,2,2
3,201905,전문몰,0,2,3,1,2,2,2,1
4,201905,전문몰,1,1,3,1,1,1,2,2
5,201905,디저트,1,3,3,3,2,2,1,2
6,201905,전문몰,0,1,3,1,1,1,1,1
7,201905,전문몰,1,1,3,2,1,2,1,2
8,201905,오픈마켓/소셜,1,2,3,1,2,2,2,2
9,201905,디저트,1,3,2,3,2,2,1,2

In [4]:
data19.groupby(['연령대'])['Category'].value_counts()[1]

Category
할인점        15221
전문몰        13919
디저트        10780
오픈마켓/소셜     8019
취미          2371
뷰티          2264
종합몰         1898
호텔/숙박       1096
항공/여행사       909
면세점          398
Name: Category, dtype: int64

In [7]:
data20=pd.read_csv("data_2020.csv",encoding='CP949')

In [8]:
data20['연령대'] = np.where((data20['연령대']=='A') | (data20['연령대']=='H') , 1, data20['연령대'])
data20['연령대'] = np.where((data20['연령대']=='B') | (data20['연령대']=='F') | (data20['연령대']=='G') , 2, data20['연령대'])
data20['연령대'] = np.where((data20['연령대']=='C') | (data20['연령대']=='D') | (data20['연령대']=='E') , 3, data20['연령대'])

In [9]:
data20.groupby(['연령대'])['Category'].value_counts()

연령대  Category
1    전문몰         15355
     디저트         10364
     오픈마켓/소셜      9944
     할인점          9823
     종합몰          2009
     뷰티           1715
     취미           1622
     호텔/숙박         682
     항공/여행사        316
     면세점            46
2    전문몰         22828
     디저트         15595
     오픈마켓/소셜     13145
     할인점         13117
     뷰티           2928
     취미           2801
     종합몰          2321
     호텔/숙박         996
     항공/여행사        488
     면세점            49
3    전문몰         25313
     오픈마켓/소셜     19544
     디저트         17046
     할인점          9759
     뷰티           3946
     종합몰          3425
     취미           3050
     호텔/숙박        1481
     항공/여행사        660
     면세점           100
Name: Category, dtype: int64

In [11]:
data20.columns

Index(['YM', 'Category', '성별구분', '연령대', '기혼스코어', '유아자녀스코어', '초등학생자녀스코어',
       '중고생자녀스코어', '대학생자녀스코어', '전업주부스코어'],
      dtype='object')

In [12]:
from pyecharts import options as opts
from pyecharts.charts import Pie
from pyecharts.globals import ThemeType

c = (
    Pie(opts.InitOpts(width = '1200px',height = '650px',theme=ThemeType.INFOGRAPHIC))
    .add(
        "2019",
        [list(z) for z in zip(first,first1)],
        radius=["27%", "61%"],
        center=["27%", "50%"],
        rosetype="radius",
    )
    
    .set_global_opts(title_opts=opts.TitleOpts(title="종합몰 전업주부스코어"),
                    legend_opts=opts.LegendOpts(type_="scroll", pos_left="25%"),)
    .set_series_opts(label_opts=opts.LabelOpts(formatter="{b}: {c}"))
    #.set_colors(["blue", "green", "yellow", "red", "pink", "orange", "purple"])
    .render("group3_category.html")
)

c

C:\Users\yurik\anaconda3\lib\site-packages\pyecharts\charts\chart.py:14: PendingDeprecationWarning: pyecharts 所有图表类型将在 v1.9.0 版本开始强制使用 ChartItem 进行数据项配置 :)
  super().__init__(init_opts=init_opts)

NameError: name 'first' is not defined

In [37]:
list(data19.groupby(['연령대'])['Category'].value_counts()[1].index.values)

['할인점', '전문몰', '디저트', '오픈마켓/소셜', '취미', '뷰티', '종합몰', '호텔/숙박', '항공/여행사', '면세점']

In [38]:
list(data20.groupby(['연령대'])['Category'].value_counts()[1].index.values)

['전문몰', '디저트', '오픈마켓/소셜', '할인점', '종합몰', '뷰티', '취미', '호텔/숙박', '항공/여행사', '면세점']

In [39]:
list(data19.groupby(['연령대'])['Category'].value_counts()[1].values)

[15221, 13919, 10780, 8019, 2371, 2264, 1898, 1096, 909, 398]

In [40]:
list(data20.groupby(['연령대'])['Category'].value_counts()[1].values)

[15355, 10364, 9944, 9823, 2009, 1715, 1622, 682, 316, 46]